{% set utils = aek.extension("CMAuthUtilities") %}
{% set attrs = utils.getTokenAttributes() %}

{% set service = aek.get_service("VOYAGER_LIVE_STATS") %}

{{ service.set_parameter("username", attrs.username) }}
{{ service.set_parameter("type", "Library") }}
{{ service.set_parameter("libraryId", attrs.extraAttrs.institutionID) }}

{{ aek.respond(service.response) }}
