.libraryTile{
  .libraryTileInfo{
    position: absolute;
    top: 48%;
    width: 100%;
  }
  .infoBox{
    float:left;
    margin-bottom: 10px !important;
    width: 100%;
    .infoTitle{
      color: #FFF;
      font-size: 1.1em;
      text-align: left;
      float: left;
      line-height: 52px;
      margin: 0;
    }
    .infoCircle{
      background-color: #D74A38;
      color: #FFF;
      width: 40px;
      font-weight: bold;
      font-size: 15px;
      line-height: 2.6em;
      border-radius: 50% !important;
      margin: 6px 10px 6px 12px !important;
      float: left;
      opacity: 0.9;
      &.gotStuff{
        background-color: #D74A38;
      }
    }
  }
}
